<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script type="text/javascript">
window.addEventListener( "load", function () {
  function sendData(form) {
    const XHR = new XMLHttpRequest();
    // Bind the FormData object and the form element
    const FD = new FormData( form );

    // Define what happens on successful data submission
    XHR.addEventListener( "load", function(event) {

      alert(event.target.responseText);
    } );

    // Define what happens in case of error
    XHR.addEventListener( "error", function( event ) {
      alert( 'There was an error sending to the server.' );
    } );

		//change the url depending on the form sent
		if (form.id == "addGateway") {
    // Set up our request
    XHR.open( "POST", "http://wychitella-api.soil.watch/gateway" );
			}

		else if (form.id == "addStation") {
    // Set up our request
    XHR.open( "POST", "http://wychitella-api.soil.watch/station" );
			}

    // The data sent is what the user provided in the form
    XHR.send( FD );
  }
//end FUNCTION SEND DATA

// CHECK FORM SUBMITTED

  // Add listener to both forms..
	document.forms[0].addEventListener( "submit", function ( event ) {
    event.preventDefault();
		let form = document.getElementById( "addGateway" );
		sendData(form);
  } );

	document.forms[1].addEventListener( "submit", function ( event ) {
    event.preventDefault();
		let form = document.getElementById( "addStation" );
    sendData(form);
  } );

} );
</script>
</head>
<body>
	<div class="container">
			<div class="title" align="center">
				<h2><a href="/"> Baseliner </a></h2>
				<a href = "/">home</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href = "/stations">sensor stations</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href = "/readings">All readings</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href = "/add">add</a> / <a href = "/delete">delete</a>
				<br/><br/>
				<h3>Add Gateway or Sensor Station</h3>
</div>
<div>
	<form id="addGateway">
		<h4>Add gateway</h4>
		gateway id (must same as device address): <input id="gw_id" type="text" required name="gw_id" placeholder="Enter gateway id"><br/><br/>
		deployment site: <input id="gw_site" type="text" required name="gw_site" placeholder="Japan"><br/><br/>
		device address (must be same as gateway id): <input id="gw_addr" type="text" required name="gw_addr" placeholder="Enter gateway address - same as gw_id"><br/><br/>
		gps map location: <input id="gw_locate" type="text" required name="gw_locate" placeholder="Enter full map URL"><br/><br/>
		api url (japan-api.soil.watch): <input id="gw_url" type="text" required name="gw_url" placeholder="japan-api.soil.watch"><br/><br/>
		api directory (reading): <input id="gw_dir" type="text" required name="gw_dir" placeholder="reading"><br/><br/>
		api port (80): <input id="gw_port" type="text" required name="gw_port" placeholder="80"><br/><br/>
		<button type="submit">Add</button>
	</form><br/>
		<form id="addStation">
		  <h4>Add sensor station</h4>
		  sensor station id (eg. sensor station 1, must be different to device address): <input id="ss_id" type="text" required name="ss_id" placeholder="eg. sensor station 1"><br/>
			<br/>
		  links to gateway (gw_id above): <input type="text" name="gw_id" placeholder="enter gw_id from above"><br/><br/>
		  deployment site: <input type="text" name="ss_site" placeholder="Japan"><br/><br/>
		  device address: <input type="text" name="ss_num" placeholder="device address"><br/><br/>
		  gps map location: <input type="text" name="ss_locate" placeholder="enter full map url"><br/><br/>
		  vegetronic sensor - shallow: <input type="text" name="ss_vwcIdShlw" placeholder="eg.VWC_MNH1a"><br/><br/>
		  vegetronic sensor - mid: <input type="text" name="ss_vwcIdMid" placeholder="eg.VWC_MNH1b"><br/><br/>
		  vegetronic sensor - deep: <input type="text" name="ss_vwcIdDeep" placeholder="eg.VWC_MNH1c"><br/><br/>
		  pH sensor: <input type="text" name="ss_phId" placeholder="eg.HZOI536"><br/><br/>
		  co2 sensor: <input type="text" name="ss_co2Id" placeholder="eg.CO2_1"><br/><br/>
		  DS temperature sensor: <input type="text" name="ss_tempId" placeholder="eg. DS18B20_1"><br/><br/>
		  BME sensor (if attached, otherwise leave blank): <input type="text" name="ss_bmeId" placeholder="eg. bme_2"><br/><br/>
		  <button type="submit">Add</button>
		</form>
</div>
<p class="footer">A collaboration between</p>
<div class="logo">
	<img src="{{url_for('static', filename='freaklabs.png')}}"/><img src="{{url_for('static', filename='monashuni.png')}}"/><img src="{{url_for('static', filename='bha.png')}}"/><img src="{{url_for('static', filename='parksvic.png')}}"/>
</div>
	</div>
</body>
</html>
