<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script type="text/javascript">
/*calls api endpoint */
	function httpGetAsync(theUrl, callback) {
			var xmlHttp = new XMLHttpRequest();
			xmlHttp.onreadystatechange = function() {
					if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
							callback(xmlHttp.responseText);
			}
			xmlHttp.open("GET", theUrl, true); // true for asynchronous
			xmlHttp.send(null);
	}

	//call the get url function, return json as response
	function appendData(data) {
	var mainContainer = document.getElementById("results");
	for (var i = 0; i < data.length; i++) {
		var div = document.createElement("div");
		div.innerHTML = '<br/><h4>' + data[i].ss_id + '</h4> ' +
		'gateway id: ' + data[i].gw_id  + '<br/></br>' +
		'vegetronix sensor id (shallow): ' + data[i].ss_vwcIdShlw  + '<br/></br>' +
		'vegetronix sensor id (mid): ' + data[i].ss_vwcIdMid  + '<br/></br>' +
		'vegetronix sensor id (deep): ' + data[i].ss_vwcIdDeep  + '<br/></br>' +
		'pH sensor id: ' + data[i].ss_phId  + '<br/></br>' +
		'co2 sensor id: ' + data[i].ss_co2Id  + '<br/></br>' +
		'temperature sensor id: ' + data[i].ss_tempId  + '<br/></br>' +
		'bme sensor id: ' + data[i].ss_bmeId  + '<br/></br>' +
		'<a href="/station/' + data[i].ss_id  +'">readings</a><br/><br/>';
		mainContainer.appendChild(div);
	}
}
</script>
</head>
<body>
	<div class="container">
			<div class="title" align="center">
				<h2><a href="/"> Baseliner </a></h2>
				<a href = "/">home</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href = "/stations">sensor stations</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href = "/readings">All readings</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href = "/add">add</a> / <a href = "/delete">delete</a>
				<br/><br/>
						<h3>Sensor Stations</h3>
			</div>
			<div id= "results"></div>
			<div id = "readings"></div>
				<script src="{{url_for('static', filename='scripts.js')}}"></script>
		<p class="footer">A collaboration between</p>
			<div class="logo">
			<img src="{{url_for('static', filename='freaklabs.png')}}"/><img src="{{url_for('static', filename='monashuni.png')}}"/><img src="{{url_for('static', filename='bha.png')}}"/><img src="{{url_for('static', filename='parksvic.png')}}"/>
			</div>
	</div>
</body>
</html>
